In [1]:
import math

In [2]:
def ph(num):
    return list(range(3, int(math.sqrt(num)) + 1, 2))

In [3]:
ph(5)

[]

In [4]:
ph(8)

[]

In [5]:
list(range(3, 5, 2))

[3]

In [6]:
int(3.5)

3

In [7]:
ph(16)

[3]

In [8]:
list(range(3, 2, 2))

[]

In [9]:
list(range(3, 4, 2))

[3]

In [10]:
for num in range(1,10):
    print(int(math.sqrt(num)) + 1)

2
2
2
3
3
3
3
3
4

In [11]:
ts = "elliot"

In [13]:
ts[1:3]

'll'

In [14]:
ts[1:]

'lliot'

In [16]:
h = ["Hi", "you"]

In [17]:
h[::-1]

['you', 'Hi']

In [18]:
5 in range(1,11)

True

In [19]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
[3, 3] == [3, 3]

True

In [26]:
l = [1,2,3]

In [28]:
l[0:1]

[1]

In [30]:
[1,2] in [[1,2]]

True

In [31]:
l

[1, 2, 3]

In [32]:
sum(l)

6

In [34]:
l.index(1)

0

In [35]:
six_nine = [4, 5, 6, 7, 8, 9]

In [36]:
six_nine.index(6)

2

In [38]:
six_nine[2:6]

[6, 7, 8, 9]

In [40]:
six_nine.index(9)

5

In [1]:
[0,0,7] in [7,0,0]

False

In [10]:
import re

In [11]:
reg = r"[0]*[0]*[7]"

In [13]:
m = re.search(reg, "007")

In [15]:
print(m.start() + " " + m.end())

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
l

[0, 1, 2]

In [17]:
l.pop(0)

0

In [18]:
l

[1, 2]

In [19]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
name = "macdonald"

In [21]:
name[3:].capitalize()

'Donald'

In [22]:
sum(5,4)

TypeError: 'int' object is not iterable

In [23]:
sum((5,4))

9

In [24]:
t = (0,1,2)

In [25]:
t[0]

0

In [26]:
l = []

In [27]:
l.push(1)

AttributeError: 'list' object has no attribute 'push'

In [28]:
l.insert(1)

TypeError: insert() takes exactly 2 arguments (1 given)

In [33]:
l

TypeError: 'int' object is not iterable

In [34]:
a = []

In [35]:
a.append(1)

In [36]:
a

[1]

In [41]:
def myfunc(s):
    out_string = ''
    for i, let in enumerate(s):
        if i % 2 == 0:
            out_string += let.lower()
        else:
            out_string += let.upper()
    return out_string

In [42]:
myfunc("piano")

'pIaNo'