# Tuples

In [1]:
t = ("a","b","c")

In [2]:
t[-1]

'c'

In [3]:
t[1:2]

('b',)

In [5]:
t2 = (1,2,3,4,5,6,7,8)

In [6]:
t2

(1, 2, 3, 4, 5, 6, 7, 8)

In [7]:
t2[::2]

(1, 3, 5, 7)

In [8]:
t2[::-2]

(8, 6, 4, 2)

In [10]:
t2.count(2)

1

In [12]:
t.index("b")

1

In [13]:
t_alpha = ('a','a','b','a')

## Note index() returns the first instance

In [14]:
t_alpha.index('a')

0

tuples are generally used when you want to retain data integrity

## Reminder: single element tuples are stored with a comma at the end (1,)