# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Numbers can be integers or float. 

Strings: Strings are immutable and sequential and have indices.

Lists: Lists are a sequence of data separated by commas. They are mutable and have indices.

Tuples: Tuples are immutable data structures that are separated by commas.

Dictionaries: Dictionaries a key value stores.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
5**2 + 500/10 - 25 + (5 * 10) + (1/4)

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

*In Python 2 the code below will produce 0. To fix it you can import division from the future*

In [ ]:
2/3

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

Expression 1 equals 44, Expression 2 eqauls 29, Expression 3 equals 34

The type of the expression below is _float_

What is the *type* of the result of the expression 3 + 1.5 + 4?

What would you use to find a numberâ€™s square root, as well as its square?

the square root is equal to `n**(1/2)`
the square is equal to `n**2`

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [2]:
s = 'hello'
# Print out 'e' using indexing

# Code here
s[1]

'e'

Reverse the string 'hello' using indexing:

In [3]:
s ='hello'

# Reverse the string using indexing

# Code here
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [5]:
s ='hello'

# Print out the

# Code here
s[-1]
s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [7]:
l= [0,0,0]
l

[0, 0, 0]

In [8]:
l = []
l.append(0)
l.append(0)
l.append(0)
l

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [11]:
l = [1,2,[3,4,'hello']]
l[2][2]='goodbye'
l

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [13]:
l = [5,3,4,6,1]
l.sort()
l

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [14]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [15]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [17]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [27]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

Earlier version of Python did sort dictionaries because they are stored using a hash which could produce non-sequential hash values.

## Tuples

What is the major difference between tuples and lists?

Tuples are immutable. Lists are mutable and have many more methods

How do you create a tuple?

By wrapping variables in a set of parenthesis and separated by commas.
t = (1,2,3)

## Sets

What is unique about a set?

Sets only hold unique values.

Use a set to find the unique values of the list below:

In [24]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set(l)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [18]:
# Answer before running cell
2 > 3 #False

False

In [19]:
# Answer before running cell
3 <= 2 # False

False

In [20]:
# Answer before running cell
3 == 2.0 # False

False

In [21]:
# Answer before running cell
3.0 == 3 #True

True

In [22]:
# Answer before running cell
4**0.5 != 2 #False

False

Final Question: What is the boolean output of the cell block below?

In [23]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1'] #False

False

## Great Job on your first assessment!